@import "Editor/Styles/Variables.scss";
@import  "Editor/Styles/Mixins.scss" ;

.foundation {
    fill: #ffffff;
    stroke: #000000;
}

.foundation_selected {
    @include selected-svg;
}

.input_output {
    stroke: #000000;
    stroke-linejoin: miter;
    stroke-miterlimit:4;
}

.sign {
    fill: #000000;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 0.199671;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
    pointer-events: none;
}