@import "Editor/Styles/Variables.scss";
@import  "Editor/Styles/Mixins.scss" ;


.hiding_layer {
    position:  absolute;

    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    background-color: $loader-bg-color;
}

.wrapper {
    margin: 5% 40% 0 40%;
}

.content {
    margin: 0 40%;
    width: 50%;
}


  