@import "../../Styles/Variables.scss";
@import  "../../Styles/Mixins.scss" ;


.spot_foundation {
    stroke-width: 1px;
    fill: rgb(246, 246, 246);
    stroke: rgb(0, 0, 0);
    pointer-events: visible;
    cursor: move;
}

.spot_roof {
    pointer-events: visible;
    fill: none;
}


.spot_selected {
    @include selected-svg;
}

.edit_button {
    height: 25px;
    width: 25px;
}

