

.EditorMenu {
    position: fixed;
    left: 1%;
    top: 8%;
    right: 80%;
    bottom: 1%;
    border: 2px solid black;
    background-color: white;
}

.EditorMenu > ul {
    padding: 0;
    margin: 0;
}

.EditorMenuItem {
    height: 80px;
    width: 100%;
    position: relative
}

.EditorMenuButton {
    height: 80px;
    width: 100%;
    cursor: pointer;
    background-color: #FAA613;
    border: none;
    border-bottom: solid black 2px;
    font-weight: bold;
    display: block;
    position: relative;
    display: flex;
    flex-direction: row;
}

.EditorMenuButton > p {
    margin-top: 40px;
    margin-left: 10px;
    display: block;
}

.EditorMenuButton > img {
    margin-top: 10px;
    height: 60px;
    width: 60px;
    display: block;
    margin: 0;
    z-index: 10;
}

.EditorMenuButton:hover {
    background-color: #F44708;
}

.List {
    position: relative;
    list-style-type: none;
    z-index: 1;
}

.EditorMenUImage {
    height: 80%;
    height: 80%;
}