@import "../../Styles/Variables.scss";
@import  "../../Styles/Mixins.scss" ;


.spot {
    stroke-width: 1px;
    fill: rgb(246, 246, 246);
    stroke: rgb(0, 0, 0);
    cursor: move;
    pointer-events: visible;
}

.spot_selected {
    @include selected-svg;
}

