@import "../../Styles/Variables.scss";
@import  "../../Styles/Mixins.scss" ;



.transition {
    fill: rgba(255, 255, 255, 1);
    stroke-width: 2px;
    stroke:rgb(0, 0, 0);
    stroke-miterlimit: 10;
    margin: 30px;
    cursor: move;
}

.transition_selected {
    @include selected-svg;
}
