$max-width: 100vw;
$max-height: 100vh;

$background-green: rgba(70, 231, 6, 0.226);
$background-blue: rgb(23, 151, 255);
$background-blue-hover: rgb(0, 219, 248);

$selected-color: hsl(189, 98%, 50%);


