

.edit_window {
    width: 20%;
    height: 87%;
    border: solid black 1px;
    position: absolute;
    left: 80%;
    top: 8%;
    background-color: white;
}


.statistics_window {
    width: 38%;
    height: 87%;
    border: solid black 1px;
    position: absolute;
    left: 62%;
    top: 8%;
    background-color: white;
}