@import "Variables.scss";
@import  "Mixins.scss" ;

.cover_layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(139, 139, 139, 0.568);
}


.content {
    position: absolute;
    width: 40%;
    height: 60%;
    top: 20%;
    left: 30%;
    background-color: white;
    overflow: scroll;
}