@import "Variables.scss";
@import  "Mixins.scss" ;


.foundation {
    stroke-width: 2px;
    stroke:rgb(0, 0, 0);
    stroke-miterlimit: 10;
    cursor: move;
}


.text_wrapper {
    fill: white;
}

.text {
    fill: black;
    pointer-events: none;
    user-select: none;
    font-weight: bolder;
    font-size: medium;
}

.transition_foundation {
    @extend .foundation;
    margin: 30px;
}

.timed_transition {
    @extend .transition_foundation;
    fill: white;
}

.immediate_transition {
    @extend .transition_foundation;
    fill: rgb(0, 0, 0);
}

.selected {
    @include selected-svg;
}

.spot {
    @extend .foundation;
    pointer-events: visible;
    fill: white;
}

.spot_roof {
    pointer-events: visible;
    fill: none;
}


