.canvas_wrapper {
    border: 2px black solid;
    width: 80%;
    height: 87%;
    position: absolute;
    top: 8%;
    bottom: 5%;
    left: 17%;
    right:  5%;
    overflow: scroll;
}

.canvas_svg{
    background-color: rgb(255, 255, 255);
    width: 1600px;
    height: 1600px;
}

.canvas_svg__grid{
    background-color: white;
}