

.end_point {
    stroke-width: 1px;
    stroke:#00d7ff;
    fill: #00d7ff;
    pointer-events: none;
    width: 10px;
    height: 10px;
}

.end_point_selected {
    stroke-width: 1px;
    stroke:#00d7ff;
    fill: #F5A65B;
    width: 10px;
    height: 10px;
}

.helper_circle {
    stroke-width: 1px;
    fill: #29e005;
    opacity: 0.5;
    pointer-events: none;
}