

.MainPage {
  background-color: rgba(70, 231, 6, 0.226); 
  height: 100%;
}


.MainMenuDiv {
  overflow: auto;
  margin: auto;
  width: 50%;
}
.MainMenuList {
  margin: 10% auto auto auto ;
  position: relative;
  list-style: none;
  width: 50%;
}

.MainMenuItem {
  width: 100%;
  background-color: rgba(244, 162, 97, 1);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: large;
}

.MainMenuItem:hover {
  background-color: rgba(248, 112, 0, 1);
}