@import "./Styles/Variables.scss";
@import  "./Styles/Mixins.scss" ;
body {
  background-color: white;
  background-image: url("./Icons/Images/page-background.jpg");
  background-position: center;
  background-size: auto;
}

.main_page {
  overflow: auto;
  margin: 0;
  padding: 0; 
  height: $max-height;
  width: $max-width;
}

.main_menu{
  ul {
    margin: 10% auto auto auto ;
    position: relative;
    list-style: none;
    width: 30%;
  }
  li{
    padding-bottom: 20px
  }
  button {
    border-radius: 20px;
    background-color: $background-blue;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: larger;
    @include default-shadow;
  }
  button:hover {
    @include default-shadow-hover;
    background-color: $background-blue-hover;
  }
}
